[data-cellid="section3_c21"][data-page="contrato_view"][data-cellid="section3_c21"][data-page="contrato_view"][data-cellid="section3_c21"][data-page="contrato_view"] {
  background-color: #f7f7f7;
}
[data-cellid="section3_c4"][data-page="contrato_view"][data-cellid="section3_c4"][data-page="contrato_view"][data-cellid="section3_c4"][data-page="contrato_view"] {
  background-color: #f7f7f7;
}
[data-cellid="section3_c24"][data-page="contrato_view"][data-cellid="section3_c24"][data-page="contrato_view"][data-cellid="section3_c24"][data-page="contrato_view"] {
  background-color: #f7f7f7;
}
[data-page="contrato_view"][data-itemid="text"] {
  font-weight: bold;
  font-size: 15px;
  font-family: "Roboto";
}
[data-page="contrato_view"][data-itemid="text1"] {
  font-weight: bold;
  font-size: 15px;
  font-family: "Roboto";
}
[data-page="contrato_view"][data-itemid="text2"] {
  font-weight: bold;
  font-size: 15px;
  font-family: "Roboto";
}
[data-page="contrato_view"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


