<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel contrato_rp search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN rp_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_rp_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="rp_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="rp_id" data-fieldname="rp_id" >


	<label class="r-search-label control-label" for="{$labelfor_rp_id}">
		{$label contrato_rp rp_id }	</label>
	<div class="r-search-option">
		{$searchtype_rp_id}
	</div>
	<div class="r-search-field">
		{$rp_id_editcontrol}	</div>
	<div class="r-search-field">
		{$rp_id_editcontrol1}
	</div>
	
</div>

{END rp_id_fieldblock}
											
{BEGIN id_cont_FK_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_cont_FK}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_cont_FK{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="id_cont_FK" data-fieldname="id_cont_FK" >


	<label class="r-search-label control-label" for="{$labelfor_id_cont_FK}">
		{$label contrato_rp id_cont_FK }	</label>
	<div class="r-search-option">
		{$searchtype_id_cont_FK}
	</div>
	<div class="r-search-field">
		{$id_cont_FK_editcontrol}	</div>
	<div class="r-search-field">
		{$id_cont_FK_editcontrol1}
	</div>
	
</div>

{END id_cont_FK_fieldblock}
											
{BEGIN num_rp_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_num_rp}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="num_rp{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="num_rp" data-fieldname="num_rp" >


	<label class="r-search-label control-label" for="{$labelfor_num_rp}">
		{$label contrato_rp num_rp }	</label>
	<div class="r-search-option">
		{$searchtype_num_rp}
	</div>
	<div class="r-search-field">
		{$num_rp_editcontrol}	</div>
	<div class="r-search-field">
		{$num_rp_editcontrol1}
	</div>
	
</div>

{END num_rp_fieldblock}
											
{BEGIN fecha_rp_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha_rp}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="fecha_rp{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="fecha_rp" data-fieldname="fecha_rp" >


	<label class="r-search-label control-label" for="{$labelfor_fecha_rp}">
		{$label contrato_rp fecha_rp }	</label>
	<div class="r-search-option">
		{$searchtype_fecha_rp}
	</div>
	<div class="r-search-field">
		{$fecha_rp_editcontrol}	</div>
	<div class="r-search-field">
		{$fecha_rp_editcontrol1}
	</div>
	
</div>

{END fecha_rp_fieldblock}
											
{BEGIN avg_participacion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_avg_participacion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="avg_participacion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="avg_participacion" data-fieldname="avg_participacion" >


	<label class="r-search-label control-label" for="{$labelfor_avg_participacion}">
		{$label contrato_rp avg_participacion }	</label>
	<div class="r-search-option">
		{$searchtype_avg_participacion}
	</div>
	<div class="r-search-field">
		{$avg_participacion_editcontrol}	</div>
	<div class="r-search-field">
		{$avg_participacion_editcontrol1}
	</div>
	
</div>

{END avg_participacion_fieldblock}
											
{BEGIN valor_participacion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_valor_participacion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="valor_participacion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="valor_participacion" data-fieldname="valor_participacion" >


	<label class="r-search-label control-label" for="{$labelfor_valor_participacion}">
		{$label contrato_rp valor_participacion }	</label>
	<div class="r-search-option">
		{$searchtype_valor_participacion}
	</div>
	<div class="r-search-field">
		{$valor_participacion_editcontrol}	</div>
	<div class="r-search-field">
		{$valor_participacion_editcontrol1}
	</div>
	
</div>

{END valor_participacion_fieldblock}
											
{BEGIN sys_last_upd_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_last_upd}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sys_last_upd{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="sys_last_upd" data-fieldname="sys_last_upd" >


	<label class="r-search-label control-label" for="{$labelfor_sys_last_upd}">
		{$label contrato_rp sys_last_upd }	</label>
	<div class="r-search-option">
		{$searchtype_sys_last_upd}
	</div>
	<div class="r-search-field">
		{$sys_last_upd_editcontrol}	</div>
	<div class="r-search-field">
		{$sys_last_upd_editcontrol1}
	</div>
	
</div>

{END sys_last_upd_fieldblock}
											
{BEGIN cdp_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cdp}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cdp{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="cdp" data-fieldname="cdp" >


	<label class="r-search-label control-label" for="{$labelfor_cdp}">
		{$label contrato_rp cdp }	</label>
	<div class="r-search-option">
		{$searchtype_cdp}
	</div>
	<div class="r-search-field">
		{$cdp_editcontrol}	</div>
	<div class="r-search-field">
		{$cdp_editcontrol1}
	</div>
	
</div>

{END cdp_fieldblock}
											
{BEGIN cont_nit_contra_ta_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_nit_contra_ta}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_nit_contra_ta{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="cont_nit_contra_ta" data-fieldname="cont_nit_contra_ta" >


	<label class="r-search-label control-label" for="{$labelfor_cont_nit_contra_ta}">
		{$label contrato_rp cont_nit_contra_ta }	</label>
	<div class="r-search-option">
		{$searchtype_cont_nit_contra_ta}
	</div>
	<div class="r-search-field">
		{$cont_nit_contra_ta_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_nit_contra_ta_editcontrol1}
	</div>
	
</div>

{END cont_nit_contra_ta_fieldblock}
											
{BEGIN dependencia_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_dependencia}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="dependencia{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="dependencia" data-fieldname="dependencia" >


	<label class="r-search-label control-label" for="{$labelfor_dependencia}">
		{$label contrato_rp dependencia }	</label>
	<div class="r-search-option">
		{$searchtype_dependencia}
	</div>
	<div class="r-search-field">
		{$dependencia_editcontrol}	</div>
	<div class="r-search-field">
		{$dependencia_editcontrol1}
	</div>
	
</div>

{END dependencia_fieldblock}
											
{BEGIN dependencia_desc_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_dependencia_desc}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="dependencia_desc{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="dependencia_desc" data-fieldname="dependencia_desc" >


	<label class="r-search-label control-label" for="{$labelfor_dependencia_desc}">
		{$label contrato_rp dependencia_desc }	</label>
	<div class="r-search-option">
		{$searchtype_dependencia_desc}
	</div>
	<div class="r-search-field">
		{$dependencia_desc_editcontrol}	</div>
	<div class="r-search-field">
		{$dependencia_desc_editcontrol1}
	</div>
	
</div>

{END dependencia_desc_fieldblock}
											
{BEGIN obs_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_obs}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="obs{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="obs" data-fieldname="obs" >


	<label class="r-search-label control-label" for="{$labelfor_obs}">
		{$label contrato_rp obs }	</label>
	<div class="r-search-option">
		{$searchtype_obs}
	</div>
	<div class="r-search-field">
		{$obs_editcontrol}	</div>
	<div class="r-search-field">
		{$obs_editcontrol1}
	</div>
	
</div>

{END obs_fieldblock}
											
{BEGIN rubro_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_rubro}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="rubro{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="rubro" data-fieldname="rubro" >


	<label class="r-search-label control-label" for="{$labelfor_rubro}">
		{$label contrato_rp rubro }	</label>
	<div class="r-search-option">
		{$searchtype_rubro}
	</div>
	<div class="r-search-field">
		{$rubro_editcontrol}	</div>
	<div class="r-search-field">
		{$rubro_editcontrol1}
	</div>
	
</div>

{END rubro_fieldblock}
											
{BEGIN valor_total_rp_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_valor_total_rp}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="valor_total_rp{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="valor_total_rp" data-fieldname="valor_total_rp" >


	<label class="r-search-label control-label" for="{$labelfor_valor_total_rp}">
		{$label contrato_rp valor_total_rp }	</label>
	<div class="r-search-option">
		{$searchtype_valor_total_rp}
	</div>
	<div class="r-search-field">
		{$valor_total_rp_editcontrol}	</div>
	<div class="r-search-field">
		{$valor_total_rp_editcontrol1}
	</div>
	
</div>

{END valor_total_rp_fieldblock}
											
{BEGIN cont_razon_social_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_razon_social}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_razon_social{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="cont_razon_social" data-fieldname="cont_razon_social" >


	<label class="r-search-label control-label" for="{$labelfor_cont_razon_social}">
		{$label contrato_rp cont_razon_social }	</label>
	<div class="r-search-option">
		{$searchtype_cont_razon_social}
	</div>
	<div class="r-search-field">
		{$cont_razon_social_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_razon_social_editcontrol1}
	</div>
	
</div>

{END cont_razon_social_fieldblock}
											
{BEGIN cid_fk_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cid_fk}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cid_fk{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="cid_fk" data-fieldname="cid_fk" >


	<label class="r-search-label control-label" for="{$labelfor_cid_fk}">
		{$label contrato_rp cid_fk }	</label>
	<div class="r-search-option">
		{$searchtype_cid_fk}
	</div>
	<div class="r-search-field">
		{$cid_fk_editcontrol}	</div>
	<div class="r-search-field">
		{$cid_fk_editcontrol1}
	</div>
	
</div>

{END cid_fk_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
